<small id="text_input_examples" class="form-text text-muted">
  <p>
    <a
      class="btn btn-sm btn-secondary"
      data-toggle="collapse"
      href="#collapse_examples"
      role="button"
      aria-expanded="false"
      aria-controls="collapse_examples"
    >
      Examples
    </a>
  </p>
  <div class="collapse" id="collapse_examples">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        WIFI:T:WPA;S:<strong>_network_</strong>;P:<strong>_password_</strong>;;
      </li>
      <li class="list-group-item">
        mailto:<strong>_email_</strong>?subject=Say%20Hello%20World
      </li>
      <li class="list-group-item">sms:<strong>_phone_</strong></li>
    </ul>
  </div>
</small>
