<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>ez-qrcode-generator</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">ez-qrcode-generator</h1>
        <p class="lead">
          A Python application to generate QR Code
        </p>
        <hr class="my-4" />
        <p>
          Check out the source code at
          <a href="https://github.com/zehengl/ez-qrcode-generator">GitHub</a>
        </p>
      </div>
      <form method="post">
        <div class="form-group">
          <label for="text_input"><strong>Text</strong></label>
          <input
            type="text"
            id="text_input"
            name="text_input"
            class="form-control"
            placeholder="Type Something"
          />
          <small id="text_input_examples" class="form-text text-muted">
            <p>
              <a
                class="btn btn-sm btn-secondary"
                data-toggle="collapse"
                href="#collapse_examples"
                role="button"
                aria-expanded="false"
                aria-controls="collapse_examples"
              >
                Examples
              </a>
            </p>
            <div class="collapse" id="collapse_examples">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  WIFI:T:WPA;S:<strong>_network_</strong>;P:<strong>_password_</strong>;;
                </li>
                <li class="list-group-item">
                  mailto:<strong>_email_</strong>?subject=Say%20Hello%20World
                </li>
                <li class="list-group-item">sms:<strong>_phone_</strong></li>
              </ul>
            </div>
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
